<meta charset="UTF-8">
<title>Animator</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="css/ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- UI -->
<script src="js/UI/keyMap.js"></script>
<script src="js/UI/popup.js"></script>
<script src="js/UI/uiDesign.js"></script>
<script src="js/UI/ui.js"></script>
<!-- library -->
<script src="js/libraries/lib.js"></script>
<script src="js/libraries/logical.js"></script>
<script src="js/libraries/Events.js"></script>
<script src="js/libraries/collision.js"></script>
<script src="js/libraries/Shapes.js"></script>
<!-- animation -->
<script src="js/animation/Rigging.js"></script>
<script src="js/animation/main.js"></script>