<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.html %>
</head>
<body oncontextmenu="return false;">
	<div class="container-fluid">
		<% include partials/header.html %>
		<% include partials/sideMenu.html %>
		<canvas id="c">Your browser does not support html canvas element!</canvas>
		<% include partials/timeline.html %>
	</div>
	<% include partials/popup.html %>
</body>
</html>